<div class="search-popup" id="search-box">

    <div class="close-btn">Close</div>

    <div class="overlay"></div>

    <div class="popup-inner">

        <form role="search" method="get" class="search-form" action="">

            <div class="form-group">
                <input type="search" id="6910" class="search-field" placeholder="Search" value="" name="s" />

                <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>

            </div>

        </form>

        <!--            <input type="search" placeholder="Search" />-->

        <!--            <a href="#" class="search-submit"><i class="fa fa-search"></i></a>-->

    </div>

</div>

<div class="nav-custom">

    <div class="nav-top">

        <a  type="button" class="open-btn" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">

            <span>Menu</span>

        </a>



    </div>

</div>
<div class="hidden-nav" id="collapseExample" [ngbCollapse]="isCollapsed">



    <div class="h-100 w-100 d-flex flex-column justify-content-center position-relative">

        <video class="nav-video" autoplay muted loop>

            <source src="../../assets/nav-video.mp4"
                type="video/mp4">

            Your browser does not support the video tag.

        </video>

        <div class="top-sec">

            <a href="">

                <img src="../../assets/logo.png"
                    class="img-fluid" />

            </a>

            <a href="#" class="search-icon float-right"><i class="fa fa-search"></i></a>

        </div>

        <div class="middle-sec d-flex justify-content-between">

            <div>

                <div class="floating-menu-parent">

                    <div class="mouseout-trigger">

                        <p style="top: 111px;"><a href="javascript:void(0)">Who we are</a></p>
                        <!-- <p style="top: -3em;"><a href="about-us">Who we are</a></p> -->


                        <ul style="pointer-events: none; opacity: 0;">
                        <!-- <ul style="pointer-events: all; opacity: 1;"> -->


                            <li><a href="javascript:void(0)">About Us</a></li>

                            <li><a href="javascript:void(0)">Life at Ideaonic</a></li>

                            <li><a href="javascript:void(0)">Company Profile</a></li>

                            <li><a href="javascript:void(0)">Investor
                                    Information</a></li>

                            <li><a href="javascript:void(0)">Financials</a></li>

                            <li><a href="javascript:void(0)">Governance</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div>

                <div class="floating-menu-parent">

                    <div class="mouseout-trigger">

                        <p><a href="javascript:void(0)">Expertise</a></p>



                        <ul>

                            <li><a href="javascript:void(0)">Digital
                                    Commerce</a></li>

                            <li><a href="javascript:void(0)">Business
                                    Applications</a></li>

                            <li><a href="javascript:void(0)">Data
                                    Management & Analytics </a></li>

                            <li><a href="javascript:void(0)">Business
                                    Process Outsourcing</a></li>

                            <li><a href="javascript:void(0)">Cloud Services
                                </a></li>

                            <li><a href="javascript:void(0)">Application
                                    Development </a></li>

                            <li><a href="javascript:void(0)">Application
                                    Integration </a></li>

                            <li><a href="javascript:void(0)">Security </a></li>

                            <li><a href="javascript:void(0)">IT
                                    Infrastructure </a></li>
                            <li><a href="javascript:void(0)">User Experience
                                </a></li>

                            <li><a href="javascript:void(0)">Cloud Team </a></li>

                            <li><a href="javascript:void(0)">Quality
                                    Assurance </a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div>

                <div class="floating-menu-parent">

                    <div class="mouseout-trigger">

                        <p><a href="javascript:void(0)">Products</a></p>



                        <ul>

                            <li><a href="javascript:void(0)">Partner
                                    Communication</a></li>

                            <li><a href="javascript:void(0)">Middleware
                                    Connector</a></li>

                            <li><a href="javascript:void(0)">Retail
                                    Analytics</a></li>

                            <li><a href="javascript:void(0)">HauteLogic</a></li>

                            <li><a href="javascript:void(0)">IdeaHCM</a></li>
                            <li><a href="javascript:void(0)">TrIPS</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div>

                <div class="floating-menu-parent">

                    <div class="mouseout-trigger">

                        <p><a href="javascript:void(0)">Industries</a></p>



                        <ul>

                            <li><a href="javascript:void(0)">Retail</a></li>

                            <li><a href="javascript:void(0)">CPG</a></li>

                            <li><a href="javascript:void(0)">Financial
                                    Services</a></li>

                            <li><a href="javascript:void(0)">Public Sector</a></li>

                            <li><a
                              href="javascript:void(0)">Telecommunication</a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

            <div>

                <div class="floating-menu-parent">

                    <div class="mouseout-trigger">

                        <p><a href="javascript:void(0)">Insights</a></p>



                        <ul>

                            <li><a href="javascript:void(0)">Blogs</a></li>

                            <li><a href="javascript:void(0)">News</a></li>

                            <li><a href="javascript:void(0)">Case Studies</a></li>

                            <li><a href="javascript:void(0)">Research &
                                    Development</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div>

                <div class="floating-menu-parent empty">

                    <div class="mouseout-trigger">

                        <p><a href="javascript:void(0)">Careers</a></p>

                    </div>

                </div>

            </div>

        </div>

        <div class="bottom-sec d-flex justify-content-between align-items-end">

            <ul class="left-ul float-left">

                <li>

                    <h4>Investor Queries</h4>

                    <a href="javascript:void(0)">investor_relations@ideaonic.com</a>

                </li>

                <li>

                    <h4>Careers</h4>

                    <a href="javascript:void(0)">hiring@ideaonic.com</a>

                </li>

                <li>

                    <h4>Sales</h4>

                    <a href="javascript:void(0)">ideaonic.com</a>

                </li>

            </ul>

            <div class="right-sec text-right float-right">

                <ul class="text-right">

                    <li>Follow us</li>

                    <li><a href="javascript:void(0)" target="_blank"><i
                                class="fab fa-facebook-f"></i></a></li>

                    <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i></a>

                    </li>

                    <li><a href="javascript:void(0)" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>

                    <li><a href="javascript:void(0)" target="_blank"><i
                                class="fab fa-linkedin"></i></a></li>

                </ul>

                <p>© 2019 ideaonic. All Rights Reserved.</p>

            </div>

        </div>

    </div>

</div>

<div class="nav-main">
    <a href="javascript:void(0)" class="text-large" rel="home">
      IDEAONIC
        <!-- <img src="../../assets/logo.png" class="img-fluid" /> -->
</a>



    <ul id="menu-top-left-menu" class="nav">
      <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288">
        <a title="Case Studies" href="javascript:void(0)">Case Studies</a>
      </li>
    <li id="menu-item-1181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1181">
    <a title="Careers" href="javascript:void(0)">Careers</a>
      </li>
    <li id="menu-item-1182" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-462 current_page_item menu-item-1182 active">
    <a title="Contact Us" href="javascript:void(0)">Contact Us</a>
      </li>
    <li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21">
    <a title="&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt;" href="#"><i class="fa fa-search"></i></a>
      </li>
</ul>


</div>
