<section class="footer-section">
  <p class="back-to-top">&lt; Back to Top</p>
  <div class="container">
    <div class="footer-top">
      <div class="top-sec-g">
        <h2 class="main-heading-g orange left-aligned">Get in Touch</h2>
        <p>Technology you can <span class="orange-span bold-span">trust.</span></p>
        <img src="../../assets/footer-logo.png" class="footer-logo" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 col-lg-2 col-xl">
        <div class="footer-list">
          <h3>Who we are</h3>
          <ul>
            <li><a href="about-us">About Us</a></li>
            <li><a href="life-at-systems">Life at Systems</a></li>
            <li><a href="company-profile">Company Profile</a></li>
            <li><a href="investor-information">Investor Information</a>
            </li>
            <li><a href="financials">Financials</a></li>
            <li><a href="governance">Governance</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-lg-2 col-xl">
        <div class="footer-list">
          <h3><a href="expertise">Expertise</a></h3>
          <ul>
            <li><a href="expertise/digital-commerce">Digital Commerce</a>
            </li>
            <li><a href="expertise/business-applications">Business
                Applications</a></li>
            <li><a href="expertise/data-management-analytics">Data
                Management & Analytics </a></li>
            <li><a href="expertise/business-process-outsourcing">Business
                Process Outsourcing</a></li>
            <li><a href="expertise/cloud-engineering">Cloud Services </a>
            </li>
            <li><a href="expertise/application-development">Application
                Development </a></li>
            <li><a href="expertise/application-integration">Application
                Integration </a></li>
            <li><a href="expertise/security">Security </a></li>
            <li><a href="expertise/it-infrastructure/">IT Infrastructure
              </a></li>
            <li><a href="expertise/user-experience/">User Experience </a>
            </li>
            <li><a href="expertise/cloud-team">Cloud Team </a></li>
            <li><a href="expertise/quality-assurance">Quality Assurance
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-lg-2 col-xl">
        <div class="footer-list">
          <h3><a href="products">Products</a></h3>
          <ul>
            <li><a href="products#partnercommunication">Partner
                Communication</a></li>
            <li><a href="products#middlewareconnector">Middleware
                Connector</a></li>
            <li><a href="products#retailanalytics">Retail Analytics</a>
            </li>
            <li><a href="products#hautelogic">HauteLogic</a></li>
            <li><a href="products#syshcm">SysHCM</a></li>
            <li><a href="products#trips">TrIPS</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-lg-2 col-xl">
        <div class="footer-list">
          <h3><a href="industries">Industries </a></h3>
          <ul>
            <li><a href="industries#retail">Retail</a></li>
            <li><a href="industries#consumer-goods">CPG</a></li>
            <li><a href="industries#financial-services">Financial
                Services</a></li>
            <li><a href="industries#public">Public Sector</a></li>
            <li><a href="industries#telecommunication">Telecommunication</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-lg-2 col-xl">
        <div class="footer-list">
          <h3><a href="insights">Insights</a></h3>
          <ul>
            <li><a href="insights/blogs">Blogs</a></li>
            <li><a href="insights/news">News</a></li>
            <li><a href="insights/case-studies">Case Studies</a></li>
            <li><a href="insights/research-development">Research &
                Development</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom">
      <div class="horizontal-list">
        <ul id="menu-footer-get-in-touch-menu" class="text-left">
          <li id="menu-item-1129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1129"><a
              href="#">Get in touch</a></li>
          <li id="menu-item-1186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1186"><a
              href="contact-us/">Offices</a></li>
          <li id="menu-item-1124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1124"><a
              href="contact-us/">Contact Us</a></li>
          <li id="menu-item-1123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123"><a
              href="careers/">Careers</a></li>
        </ul>
      </div>
      <div class="horizontal-list">
        <ul id="menu-footer-legal-menu" class="text-left">
          <li id="menu-item-1128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1128"><a
              href="#">Legal</a></li>
          <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277"><a
              href="privacy-policy/">Privacy Policy</a></li>
          <li id="menu-item-1303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1303"><a
              href="sitemap/">Sitemap</a></li>
        </ul>
      </div>
      <div class="footer-end">
        <div class="widget_text fmw-widget">
          <div class="textwidget custom-html-widget">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 order-sm-2 order-md-2 order-lg-1 copyright-text">
                <p>© 2019 Systems Limited. All Rights Reserved.
                </p>
                <p>Last updated on Oct 17, 2019</p>
              </div>
              <div class="col-12 col-lg-6 order-sm-1 order-md-1 order-lg-2 footer-right-sec">
                <a href="//jamapunji.pk/" target="_blank" class="footer-logo-sc-before" rel="noopener noreferrer"><img
                    src="../../assets/jama-punji.png" class="img-fluid" /></a>
                <ul class="text-right">
                  <li>Follow us</li>
                  <li><a href="https://www.facebook.com/Systemslimited/" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/SystemsLtd" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-twitter"></i></a>
                  </li>
                  <li><a href="https://www.instagram.com/lifeatsystems/" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/systems-limited/" target="_blank"
                      rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
