<section class="footer-section">
  <div class="container mb-3">
    <div class="footer-top">
      <div class="top-sec-g">
        <h2 class="main-heading-g orange left-aligned">Get in Touch</h2>
        <!-- <p>Technology you can <span class="orange-span bold-span">trust.</span></p> -->
        <!-- <img src="../../assets/footer-logo.png" class="footer-logo" /> -->
      </div>
    </div>
  </div>
  <section class="contact-us-section-2" id="offices">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="address-card-item orange">
            <h2 class="main-heading-g white left-aligned">UK Head Office</h2>
            <ul>
              <li class="d-flex align-items-center">
                <img src="../../assets/location.png" alt="location">
                <p></p>
                <p>A39 434 St. George's Road, Glasgow, Scotland, G3 6JW</p>
                <p></p>
              </li>
              <li class="d-flex align-items-center">
                <img src="../../assets/call.png" alt="call">
                <p><span>Telephone:</span> <a class="phonenumber"> +44 797-777-7039</a></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="address-card-item teal">
            <h2 class="main-heading-g white left-aligned">Lahore Office</h2>
            <ul>
              <li class="d-flex align-items-center">
                <img src="../../assets/location.png" alt="location">
                <p></p>
                <p>202-G, G-block, Johar Town, Lahore, Pakistan</p>
                <p></p>
              </li>
              <li class="d-flex align-items-center">
                <img src="../../assets/call.png" alt="call">
                <p><span>Telephone:</span> <a class="phonenumber"> +92 (301) 64-759-25</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="footer-bottom">
      <!-- <div class="horizontal-list">
        <ul id="menu-footer-get-in-touch-menu" class="text-left">
          <li id="menu-item-1129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1129">
            <a href="javascript:void(0)">Get in touch</a>
          </li>
          <li id="menu-item-1186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1186">
            <a href="javascript:void(0)">Offices</a>
          </li>
          <li id="menu-item-1124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1124">
            <a href="javascript:void(0)">Contact Us</a>
          </li>
          <li id="menu-item-1123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123">
            <a href="javascript:void(0)">Careers</a>
          </li>
        </ul>
      </div>
      <div class="horizontal-list">
        <ul id="menu-footer-legal-menu" class="text-left">
          <li id="menu-item-1128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1128">
            <a href="javascript:void(0)">Legal</a>
          </li>
          <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277">
            <a href="javascript:void(0)">Privacy Policy</a>
          </li>
          <li id="menu-item-1303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1303">
            <a href="javascript:void(0)">Sitemap</a>
          </li>
        </ul>
      </div> -->
      <div class="footer-end">
        <div class="widget_text fmw-widget">
          <div class="textwidget custom-html-widget">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 order-sm-2 order-md-2 order-lg-1 copyright-text">
                <p>© 2019 ideaonic. All Rights Reserved.
                </p>
                <p>Last updated on Oct 17, 2019</p>
              </div>
              <!-- <div class="col-12 col-lg-6 order-sm-1 order-md-1 order-lg-2 footer-right-sec">
                <a href="javascript:void(0)" target="_blank" class="footer-logo-sc-before" rel="noopener noreferrer">
                  <img src="../../assets/jama-punji.png" class="img-fluid" />
                </a>
                <ul class="text-right">
                  <li>Follow us</li>
                  <li>
                    <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
